@media(min-width: 768px) {

    .logo {
        margin: 1em auto 1em 1em;
    }
    //nav
    .nav {    
        &__list {
            display: flex;
            height: 100%;

            &-item {
                margin: 0;

                a {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 1.6rem;
                }
            }
        }

        &__desktop {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__mobile{
            display: none;
        }
    }

    //header
    .header {

        &__text {
            padding: 18em 0 18em 8em;

            &-name {
                font-size: 1.8rem;
            }

            &-describe {
                font-size: 3.2rem;
            }
        }
    }

    //aboutus 
    .aboutus {    
        &__main {
            flex-direction: row;
        }

        
        &__photo {
            width: 50%;
            margin-bottom: 0;
            margin-right: 6em;
            object-fit: cover;
        }

        &__content{
            width: 50%;
        }

        &__header {
            font-size: 2.4rem;
        }
    }

    .banner {
        padding: 6em 0;
        &__text {
            font-size: 3rem;
        }
    }
}