@media(min-width: 576px) {
    .footer {
        &__boxes {
            grid-template-areas: 
            'one two'
            'three three'
            ;
        }
    }

    .banner {
        padding: 6em 0;
        background-image: url('../img/info-bg.jpg');

        &__text {
            font-size: 2.4rem;
        }
    }

    //offer 
    .offer {
    
        &__box {    
            &-title {
                font-size: 3rem;
            }
    
            &-price {
                font-size: 4rem;
            }
    
            &-benefit {
                font-size: 1.6rem;
            }
    
            &-button {
                margin: 1.2em 0 1em;
                padding: .5em 3.2em;
                font-size: 2rem;
            }
        }
    
    }

}